.navbar {
    background-color: #2C2C2C;
    color: black;
}

.navbarcontent {
 text-decoration: none;
}

.offcanvas-header {
    background-color: #2C2C2C;  
}

.offcanvas-title {
    background-color: #2C2C2C; 
}

.offcanvas-body {
    background-color: #2C2C2C; 
}

#home {
    background-image: url(https://i.pinimg.com/originals/97/12/3c/97123c932aed821f261372c187463296.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    opacity: 70%;
    height: 600px;
    width: 600px;
    font-size: 40px;
    color: white;
    text-align: center;
}

#engineering {
    background-image: url(eq.png);
    background-position: cover;
    height: 1000px;
    width: 1000px;
    margin: 10px auto;
}

#lessons {
    background-image: url(lessons.png);
    background-position: cover;
    height: 1000px;
    width: 1000px;
    margin: 10px auto; 
}
